<div class="container">
    <div class="row">
        <div class="table-responsive col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Institute</th>
                        <th>Section</th>
                        <th>Name</th>
                        <th class="text-center">Symptomatic</th>
                        <th class="text-center">Covid Positive</th>
                        <th class="text-center">Covid Negative</th>
                    <tr>
                </thead>
                <tbody>
                    <% @users_report.each do |incident| %>
                    <tr>
                        <td>
                            <%= incident[:institute] %>
                        </td>
                        <td>
                            <%= incident[:section] %>
                        </td>
                        <td>
                            <%= incident[:name] %>
                        </td>
                        <td class="text-center">
                            <%= "x" if incident[:symptomatic] == 1 %>
                        </td>
                        <td class="text-center">
                            <%= "x" if incident[:covid_positive] == 1 %>
                        </td>
                        <td class="text-center">
                            <%= "x" if incident[:covid_negative] == 1 %>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>